
//three divs 
//main parent div : react-photo-library
//sub divs for only photos : react-photo-library__photo-section
// sub div for radio sorting button : react-photo-library__img-sorting-radio


//in the sub divs photo only has photos which are wrapped in swipeJs 
//radio buttons have radio buttons and the labels ascociated with them 

.react-photo-library{

    

    width: 100vw;
    margin: 2rem;
    //to align both containers on top of each other and center them 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__photo-section{
        display: flex;
        justify-content: center;
        align-items: center;

        //will need additonal styling to make it the way I want with the click instead of a basic scroll 
        overflow-x: scroll; 

        img{
            height: 20%;
            width: 20%;
        }

    }

    &__img-sorting-radio{
        
        text-align: center;
        margin: 2rem 1rem;
        padding-bottom: 1rem;

        border-bottom: 1px solid green;

        .img-sorting-radio__button-label{
            color: #444;
            font-size: 1.7rem;
            margin: 1rem 1rem;


            //is it possible to apply a scale to labels ? if it is something is blocking it here?
            &:hover{
                color: green;
            }

            
        }

        //hides the ugly radio circles 
        .img-sorting-radio__button{
            display: none;

            //if the radio is checked style the neared label 
            &:checked + label{
                color: rgb(38, 210, 38);
            }
        }
    }

    

}