.footer-links{
    margin-top: 5rem;

    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title{
        color: #444;
        font-size: 5rem;
    }

    &__div{
       

        width: 33vw;

        display: flex;
        justify-content: center;
        align-items: center;

        margin:   2rem 0 3rem 0;

        
        &__links{
        
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 4rem;

            transition: 0.2s linear;

            &:hover{
                transform: scale(1.2);
            }

            

           
            


            &__img{
               
                width: 3vw;
            }
           
        }
    }

   
}